node_modules/
.next/
.expo/
dist/
build/
out/
*.tsbuildinfo
pnpm-debug.log

# Environment files
.env
.env.local
.env.*.local
.env.db-diff

# Build artifacts
*.crx
*.pem
*.vs

.turbo
apps/native/credentials.json
apps/native/credentials/
apps/native/*.jks
apps/native/android/app/*.jks

apps/native/*firebase-adminsdk*.json
.pnpm-store/
.pnpm-debug.log*
