node_modules/
.next/
.expo/
dist/
build/
out/
*.tsbuildinfo
pnpm-debug.log

# Environment files
.env
.env.local
.env.*.local

# Build artifacts
*.crx
*.pem
*.vs

.turbo
apps/native/credentials.json

apps/native/*firebase-adminsdk*.json
.pnpm-store/
.pnpm-debug.log*